/* General Styles */
body {
    margin: 0;
    font-family: 'in';
    background-color: #f9f6f1;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: normal;
    font-style: normal;
}

/* Header Styles */
header {
    position: absolute; /* Make the header position absolute */
    top: 0;
    left: 0;
    width: 100%; /* Make the header span the full width */
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 40px;
    background-color: transparent;
    z-index: 10; /* Ensure the header stays on top */
}

.logo img {
    height: 35px;
    margin-bottom: 20px;
}

nav {
    width: 100%;
}

.nav-line {
    position: absolute;
    bottom: -5px;
    left: 30px;
    width: calc(100% - 1160px);
    height: 2px;
    background-color: #ffffff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    position: relative;
}

nav ul li a:hover:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #333;
}

/* Main Content Styles */
main {
    position: relative; /* Add this line to establish a positioning context for sale-info */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center;
    flex: 1;
    padding-top: 0px;
    padding-bottom: 100px; /* Add padding at the bottom to prevent content to overlap */
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sale-info {
    position: absolute; /* Change fixed to absolute */
    top: 0;
    bottom: 0;
    right: 0;
    color: #C2AB8B;
    padding-left: 40px;
    padding-right: 40px;
    width: 38%;
}

.container {
    text-align: left;
    padding: 30px;
    position: relative;
    margin-left: -800px; /* Ensure container starts from the left */
}

.content {
    max-width: 570px;
    line-height: 1.8em;
}

.title {
    font-size: 3.5em;
    color: #fff;
    margin-top: 15%;
}

.content h2 {
    margin-top: 30px;
    color: #fff;
    font-weight: 900 !important;
}

.content p {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #C2AB8B;
}

.content p a {
    text-decoration: underline;
}

.content a {
    color: #C2AB8B;
    text-decoration: none;
}

.line-vertical {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    border-left: 1px solid #d2c6b3;
}

.line-horizontal {
    position: absolute;
    bottom: 15%;
    left: -2%;
    right: 65%;
    border-bottom: 1px solid #d2c6b3;
}

/* Social Media Icons Styles */
.social-media {
    display: flex;
    gap: 1px;
    margin-left: 80%;
    margin-top: 3%;
}

.social-media img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

/* Footer Styles */
/* Footer Styles */


footer {
    background-color: #f1ede2;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-logo {
    flex: 1;
    margin-bottom: 20px; /* margin tussen de columns en het logo wanneer het scherm kleiner wordt */
    margin-top: 20px;
}

.footer-logo img {
    max-width: 150px;
}

.footer-columns {
    flex: 3;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: space-around;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style-type: none;
    padding-left: 0; 
    margin-left: 0;
}

.footer-column ul li {
    padding-bottom: 10px;
    color:#1d2141;
}

.footer-column ul li a {
    color:#1d2141;
    font-size: 18px;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #1d2141;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.newsletter-form input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.newsletter-form button {
    padding: 10px;
    background-color: #1d2141;
    color: #fff;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin-left: 10px;
}

.newsletter-form button:hover {
    background-color: #42476d;
}


/* Media queries for Responsive Design */
@media (min-width: 768px) {
    footer {
        flex-direction: row; /* Revert to row for larger screens */
        justify-content: space-between;
    }

    .footer-logo {
        margin-bottom: 0;
    }

    .footer-columns {
        flex-direction: row;
        justify-content: space-around;
    }

    .newsletter-form {
        flex-direction: row; /* Revert to row for larger screens */
        align-items: center;
    }

    .newsletter-form input[type="email"],
    .newsletter-form button {
        width: auto; /* Revert to auto width for larger screens */
        margin-bottom: 0; /* Remove bottom margin */
        margin-top: 10px;
        margin-left: 10px; /* Space between input and button */
    }
}

.products-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: aqua;
    margin-top: 10%;
    
}

.product-item {
    margin-left: 20px;
    margin-right: 20px;
    

}

.product-item h4 {
    font-size: 24px;

}